body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  min-width: 120px;
  min-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

button.primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

button:disabled {
  cursor: auto;
  opacity: 0.50;
}

button.secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.app-header {
  text-align: center;
}
